<?xml version="1.0" ?>
<!--
/**
 * @category   IBO
 * @package    Ibo_CoreMedia
 * @author     hitendra.badiani@embitel.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Ibo_CoreMedia">
        <sequence>           
            <module name="Embitel_ProductImport"/>
        </sequence>
    </module>
</config>
