<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ibo_Core::config" title="System Configuration" sortOrder="50" >
                                <resource id="Ibo_MultiSlider::multislider_config" title="Configurations" sortOrder="0" />
                            </resource>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::content">
                    <resource id="Ibo_MultiSlider::multislider" title="Category Page Banners" sortOrder="10">
                        <resource id="Ibo_MultiSlider::heroslider" title="Banner Slider"  sortOrder="1"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>

