<?xml version="1.0"?>
<!--
/**
 * @category   Embitel
 * @package    Embitel_Banner
 * @author     hitendra.badiani@embitel.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="embitel_banner" frontName="embitel_banner">
            <module before="Magento_Backend" name="Embitel_Banner" />
        </route>
    </router>
</config>