<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Embitel_RequestCall::request_call" title="Request Call" translate="title" module="Embitel_RequestCall" sortOrder="100" parent="Magento_Customer::customer" action="callrequest/requestitem" resource="Embitel_RequestCall::request_call"/>
    </menu>
</config>
