<?xml version="1.0" ?>
<!--
/**
 * @category   IBO
 * @package    Ibo_Quotation
 * @author     gopalbhai.kacha@embitel.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Ibo_Quotation">
        <sequence>
            <module name="Module_Catalog"/>
            <module name="Embitel_ProductImport"/>
            <module name="Embitel_Facade"/>
            <module name="Ibo_CoreMedia"/>
        </sequence>
    </module>
</config>
