<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="Ibo_CustomerImport_Customer_Login_After" instance="Ibo\CustomerImport\Observer\CustomerLoginAfter"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="Ibo_CustomerImport_Order_Place_After" instance="Ibo\CustomerImport\Observer\OrderPlaceAfter"/>
    </event>
</config>