<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::convert">
                        <resource id="Embitel_ProductImport::import" title="EBO Product Import" sortOrder="100" />
                        <resource id="Embitel_ProductImport::publish" title="EBO Product Publish" sortOrder="101" />
                        <resource id="Embitel_ProductImport::disable" title="EBO Product Disable" sortOrder="102" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
