<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="excludeattribute" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Category Specific Filters</label>
            <tab>embitel</tab>
            <resource>Embitel_ProductFilter::att_config</resource>
            <group id="att_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Exclude Filter Attribute Config</label>
                <field id="exclude_attributes" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Default Filter Attribute List</label>
                    <comment>Comma separated attribute list category_id,price,brand_Id</comment>
                </field>                
            </group>
        </section>
    </system>
</config>
