<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="item_price_by_postcode">
        <observer name="fetch_item_price_by_postcode" instance="Ibo\RegionalPricing\Observer\ItemPriceByPostcode" />
    </event>
</config>
