<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Embitel_ProductExport::productexport" 
             title="EBO Product Export" 
             module="Embitel_ProductExport" 
             sortOrder="110" 
             parent="Magento_Backend::system_convert" 
             action="embproductexport/export/new" 
             resource="Embitel_ProductExport::productexport"/>
    </menu>
</config>
