<?xml version="1.0"?>
<!--
/** Embitel User
 * @category  Embitel
 * @package   Embitel_User
 * @author    Embitel
 */
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Embitel_User" >
        <sequence>
            <module name="Magento_User"/>
        </sequence>
    </module>
</config>
