<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="product_attribute_grid_build">
        <observer name="valuesRequiredForPublish" instance="Embitel\CatalogGraphQl\Observer\Grid\ProductAttributeGridBuildObserver" />
    </event>
</config>
