<?xml version="1.0"?>
<!--
/**
 * @category   IBO
 * @package    Ibo_CoreMedia
 * @author     hitendra.badiani@embitel.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="core_media" translate="label" sortOrder="141" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Core Media Service</label>
            <tab>embitel</tab>
            <resource>Ibo_CoreMedia::import</resource>            
            <group id="service" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>IBO Core Media Service</label>
                <field id="sync_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                
                <field id="generate_token_api" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Generate Token API</label>
                </field>
                <field id="x_auth_token" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>x-auth-token</label>
                </field>                
                <field id="upload_media_api" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Upload Media API</label>
                </field>                
                <field id="get_media_api" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Get Uploaded Media</label>
                </field>
                <field id="use_custom_source" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use Custom Source Image Url</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="realtime_sync" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>RealTime Sync Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="curl_timeout" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Curl Timeout ( in seconds)</label>
                </field>                             
                <field id="media_sync_log_active" translate="label" type="select" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>        
    </system>
</config>
