<?xml version="1.0"?>
<!--
/**
 * @category   IBO
 * @package    Ibo_ProductUpdate
 * @author     hitendra.badiani@embitel.com
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="ibo_productupdate" frontName="ibo_productupdate">
            <module name="Ibo_ProductUpdate" />
        </route>
    </router>
</config>