<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="update_product_facade_sync_count" instance="Embitel\Facade\Observer\ProductSaveAfter"/>
    </event>
</config>