<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="channel_info" instance="Embitel\SalesRule\Observer\AddChannelInfoToSalesRuleCombineObserver"/>
        <observer name="is_professional_referral" instance="Embitel\SalesRule\Observer\AddPromotionalReferralToSalesRuleCombineObserver"/>
        <observer name="first_time_promotion" instance="Embitel\SalesRule\Observer\AddFirstTimePromoToSalesRuleCombineObserver"/>
        <observer name="on_invoice_b2p_promotion" instance="Embitel\SalesRule\Observer\AddOwnInvoicePromotionObserver"/>
    </event>
</config>
