<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="cart" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shopping Cart</label>
                <!-- <field id="show_referal_section_for" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label> </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>  -->
                <field id="show_referal_section_for" translate="label" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Show Referal Code Apply Section For</label>
                    <source_model>Embitel\Checkout\Model\Source\UserGroups</source_model>
                </field>                
            </group>
        </section>
    </system>
</config>
